<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1213},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1307},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>10_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1097},{106,102}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{128,110}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1253},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>11_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1124},{80,114}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{80,114}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1301},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>12_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1205},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{110,108}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1253},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>13_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1001},{126,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{126,110}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1200},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>14_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1122},{114,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{114,116}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1202},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>15_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,529},{156,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{156,103}}</string>
                <key>sourceSize</key>
                <string>{180,125}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1200},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>16_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,633},{150,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{150,109}}</string>
                <key>sourceSize</key>
                <string>{180,125}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1187},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>17_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,437},{162,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{162,91}}</string>
                <key>sourceSize</key>
                <string>{180,125}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1160},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>18_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,321},{162,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{162,115}}</string>
                <key>sourceSize</key>
                <string>{180,125}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1160},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>1_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,70},{72,101}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{72,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1181},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1181},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1128},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1134},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1128},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>2_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1236},{70,97}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{70,97}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1200},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>3_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1237},{78,95}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1248},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>4_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,283},{76,89}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{76,89}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1200},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>5_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,172},{76,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1149},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>6_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1026},{74,108}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{74,108}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1081},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>7_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,456},{74,84}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{74,84}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1195},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>8_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1026},{70,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1142},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>9_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1081},{78,94}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{78,94}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>bet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1026},{115,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,138}}</string>
                <key>sourceSize</key>
                <string>{115,138}</string>
            </dict>
            <key>bet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,861},{111,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>bet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,721},{102,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,139}}</string>
                <key>sourceSize</key>
                <string>{102,139}</string>
            </dict>
            <key>bet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1026},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>bet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1026},{97,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{99,140}</string>
            </dict>
            <key>bet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,974},{106,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>bet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,861},{112,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>bet8.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,743},{117,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,141}}</string>
                <key>sourceSize</key>
                <string>{117,141}</string>
            </dict>
            <key>btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1128},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>btn_normal_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,234},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>btn_normal_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1142},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>btn_normal_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,70},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>btn_normal_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,147},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>grid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,626},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>grid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1314},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>grid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,531},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1237},{74,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{74,45}</string>
            </dict>
            <key>txt_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1101},{103,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,47}}</string>
                <key>sourceSize</key>
                <string>{103,47}</string>
            </dict>
            <key>txt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,416},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>txt_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1},{253,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,68}}</string>
                <key>sourceSize</key>
                <string>{253,68}</string>
            </dict>
            <key>txt_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,373},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>txt_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1078},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{104,49}</string>
            </dict>
            <key>txt_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1026},{105,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,51}}</string>
                <key>sourceSize</key>
                <string>{105,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sheet_Map.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2ce0f2f4224df97d3e26fc9241caa3:32d6285bad5db90576aee6a4c3726973:82b3ecc0a55ff3c0002100a74a15cdbc$</string>
            <key>textureFileName</key>
            <string>Sheet_Map.png</string>
        </dict>
    </dict>
</plist>
