<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,266},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,228},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>10_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,210},{106,102}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{128,110}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,228},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>11_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1958},{80,114}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{80,114}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,228},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>12_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,104},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{110,108}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,493},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>13_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,117},{126,110}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{126,110}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,504},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>14_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,282},{114,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{114,116}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,493},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>15_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1795},{156,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{156,103}}</string>
                <key>sourceSize</key>
                <string>{180,125}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,263},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>16_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1795},{150,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{150,109}}</string>
                <key>sourceSize</key>
                <string>{180,125}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,213},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>17_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1795},{162,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,17},{162,91}}</string>
                <key>sourceSize</key>
                <string>{180,125}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,213},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>18_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1795},{162,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{162,115}}</string>
                <key>sourceSize</key>
                <string>{180,125}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,478},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>1_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,213},{72,101}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{72,101}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,425},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,372},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,210},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,157},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,104},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>2_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,433},{70,97}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{70,97}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,319},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>3_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,356},{78,95}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,95}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,266},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>4_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1958},{76,89}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{76,89}}</string>
                <key>sourceSize</key>
                <string>{84,101}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,213},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>5_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,114},{76,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,160},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>6_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1972},{74,108}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{74,108}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,107},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>7_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1972},{74,84}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{74,84}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,54},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>8_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,191},{70,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{70,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>9_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,430},{78,94}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{78,94}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>NPC1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1795},{146,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,204}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1026},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>btn_normal_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1795},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>btn_normal_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,399},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>btn_normal_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1795},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>btn_normal_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1795},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>grid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,286},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>grid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,407},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>grid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,256},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>kuang1-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,97},{115,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,138}}</string>
                <key>sourceSize</key>
                <string>{115,138}</string>
            </dict>
            <key>kuang1-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1},{115,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,138}}</string>
                <key>sourceSize</key>
                <string>{115,138}</string>
            </dict>
            <key>kuang2-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,142},{111,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>kuang2-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,70},{111,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>kuang3-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1},{102,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,139}}</string>
                <key>sourceSize</key>
                <string>{102,139}</string>
            </dict>
            <key>kuang3-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1},{102,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,139}}</string>
                <key>sourceSize</key>
                <string>{102,139}</string>
            </dict>
            <key>kuang4-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>kuang4-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1952},{95,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,139}}</string>
                <key>sourceSize</key>
                <string>{95,139}</string>
            </dict>
            <key>kuang5-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,335},{97,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{99,140}</string>
            </dict>
            <key>kuang5-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,237},{97,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{99,140}</string>
            </dict>
            <key>kuang6-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,177},{106,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>kuang6-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,70},{106,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,140}}</string>
                <key>sourceSize</key>
                <string>{108,140}</string>
            </dict>
            <key>kuang7-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1},{112,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>kuang7-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1},{112,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>kuang8-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,119},{117,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,141}}</string>
                <key>sourceSize</key>
                <string>{117,141}</string>
            </dict>
            <key>kuang8-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1},{117,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,141}}</string>
                <key>sourceSize</key>
                <string>{117,141}</string>
            </dict>
            <key>ren1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1972},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>txt_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2000},{103,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,47}}</string>
                <key>sourceSize</key>
                <string>{103,47}</string>
            </dict>
            <key>txt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1958},{87,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,39}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>txt_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1},{253,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,68}}</string>
                <key>sourceSize</key>
                <string>{253,68}</string>
            </dict>
            <key>txt_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1958},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>txt_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,206},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{104,49}</string>
            </dict>
            <key>txt_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,104},{105,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,51}}</string>
                <key>sourceSize</key>
                <string>{105,51}</string>
            </dict>
            <key>减半-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,156},{104,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{104,49}</string>
            </dict>
            <key>加倍-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2000},{103,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,47}}</string>
                <key>sourceSize</key>
                <string>{103,47}</string>
            </dict>
            <key>加金币-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1976},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>加金币-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1976},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>圆按钮-常态.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,336},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>圆按钮1-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,313},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>圆按钮2-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,262},{99,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,93}}</string>
                <key>sourceSize</key>
                <string>{99,93}</string>
            </dict>
            <key>开始-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,284},{105,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,51}}</string>
                <key>sourceSize</key>
                <string>{105,51}</string>
            </dict>
            <key>按钮-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1795},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
            <key>按钮橙-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1795},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>按钮绿-点击.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1795},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>数字显示框.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1972},{74,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{74,45}</string>
            </dict>
            <key>老虎机.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sheet_Map.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87ea67aa6d56edf6175d4db2bbc240ae:baf8a22df457b2ca3e375a3a061a9d11:82b3ecc0a55ff3c0002100a74a15cdbc$</string>
            <key>textureFileName</key>
            <string>Sheet_Map.png</string>
        </dict>
    </dict>
</plist>
